*pyc
*log
*aux
*.ps
*dvi
*bak
*bbl
*blg
*gz
*.dvi
*.bak
.project
.pydevproject
.settings
.DS_Store
/static/*
local_settings.py
/webapp/migrations/backup
/utilities/credentials.py
documents/AAAI2016/AuthorKit/*.pdf
documents/AAAI2016/*.pdf
*-converted-to.pdf
documents/AAMAS2016/*.pdf
documents/ijcai2015/*.pdf
documents/*.pdf
documents/jair/bid2charge.pdf