{% extends "base.html" %}

{% load staticfiles %}

{% block title %}EV Game{% endblock %}

{% block control_panel %}{% endblock %}

{% block content %}

<br/>

<div class="row">
<div class="col-sm-3"></div>
<div class="col-sm-6 text-center login" id="game-body">
	
		
	<div class="row">
		<div class="col-sm-3"></div>
		<div class="col-sm-6">
	                    <img src="/static/webapp/img/orchid_logo.png" class="img-responsive">
	    </div>
	    <div class="col-sm-3"></div>
		 </div>
	 
	 
	 <div class="row">
	 <div class="col-sm-12">
	 
	
	
	{% if error_message %}
        <div class="alert alert-danger" role="alert" style="margin-top: 10px; margin-bottom: 0px;">{{error_message}}</div>
        {% endif %}

        <form class="form-horizontal" role="form" method="POST" action="/webapp/orchidExistingPlayer/" style="padding: 15px;">
            {% csrf_token %}
            {{ form.non_field_errors }}
            
            <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
            
            <div class="form-group">
            	<label for="user">Select Existing Player:</label>
				<select name="user" class="form-control" id="id_user">
				
					{% for u in users %}
						<option value="{{ u.username }}" >{{ u.username }}</option>
					{% endfor %}
				</select>
			</div>

            </div>
            <div class="col-sm-1"></div>
            </div>
            
  			<div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
            <button class="btn btn-large btn-primary btn-block" type="submit">Continue Game</button>
            <a href="/orchid"  class="btn btn-large btn-default btn-block">Back To Menu</a>
        	</div>
        	<div class="col-sm-3"></div>
        </div>
        </form>
	</div>
	


</div>
{% endblock %}


{% block footer %}{% endblock %}

